<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Informe de datos de meneame.net</title>
    <link rel="stylesheet" type="text/css" href="https://yaireo.github.io/tagify/dist/tagify.css">
    {% for c in css %}
      <link href="{{c}}" rel="stylesheet" type="text/css" data-autoinsert="1"/>
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    {% for js in javascript %}
      <script src="{{js}}" data-autoinsert="1"></script>
    {% endfor %}
  </head>
  <body>
    <p>
      En el <a href="/meneame_en_datos/">anterior informe sobre Menéame</a>
      expliqué brevemente por qué no iba a analizar los strikes.
      Sin embargo, finalmente me he animado a ello y aquí tenéis los resultados.
    <p>
    <h1>Consideraciones previas</h1>
    <p>
      Antes de empezar vamos a tratar unos puntos claves para contextualizar los datos:
    </p>
    <ol>
      <li>
        La funcionalidad de strikes se implementó en algún momento
        posterior al <a href="https://github.com/Meneame/meneame.net/blob/master/sql/2017-02-24-strikes.sql">24/02/2017</a>
        pero no he encontrado ningún comunicado oficial y fechado de cuando
        entró en vigor, así que usaremos como referencia la fecha del
        primer strike detectado (<code>{{st.strikes.ini.strftime("%d/%m/%Y")}}</code>).
      </li>
      <li>
        En <a href="https://www.meneame.net/normas-comunidad">las normas de Menéame</a>
        se pueden consultar el significado de la mayor parte de tipos de strikes.
      </li>
      <li>
        En <a href="https://www.meneame.net/legal#penalizaciones">la información legal de Menéame (apartado Penalizaciones)</a>
        podemos consultar las consecuencias de los strikes.
      </li>
      <li>
        <a
        title="2019-03-26 Revisión de las normas de uso de la comunidad: hacia una conversación más sana"
        href="https://blog.meneame.net/2019/03/26/revision-de-las-normas-de-uso-de-la-comunidad-hacia-una-conversacion-mas-sana/"
        	>En 26/03/2019 la administración de Méneame</a>:
        <ul>
          <li>indica que se reciben muchas quejas por los strikes</li>
          <li>
            recuerda que la administración no da strikes proactivamente,
            si no que solo se revisan comentarios previamente reportados por los usuarios
            (en la <a href="https://github.com/Meneame/meneame.net/wiki/Abusos">wiki</a>
            también se dice que la mayoría de los reportes se desestiman)
          </li>
          <li>aclara que aunque un strike queda asociado a un único
            comentario este puede estar motivado por la reiteración de
            comentarios o comportamientos</li>
          <li>anuncia que para mejorar la transparencia próximamente habrá un método
          para que todos los usuarios puedan saber si un comentario ha sido objeto
          de strike y porqué</li>
        </ul>
      </li>
      <li>
        En cuanto el último punto (el de la transparencia) no sé si se ha llegado a implementar.
        La realidad es que lo único que denota que un comentario tiene un strike
        es una <a href="https://github.com/Meneame/meneame.net/blob/60fc5935e46fb72c47945abc63cd062803d030a8/www/libs/comment.php#L370"
        >clase incluida en el html</a> lo cual se traduce en un comentario plegado
        y en gris. Inspeccionando el código se puede <a href="https://github.com/Meneame/meneame.net/blob/60fc5935e46fb72c47945abc63cd062803d030a8/www/templates/comment_summary_text.html#L3"
        >recuperar la razón del strike</a> y el <code>id</code>
        del comentario, con el cual podemos posteriormente recuperar el contenido del comentario.
        Así que aunque es posible, con un poco de maña, identificar
        los comentarios con strike, no creo a que ésta sea la mejora
        a la que se refería la administración en su blog.
      </li>
      <li>
        La Api de Menéame no devuelve ninguna información sobre strikes.
      </li>
      <li>
        Frecuentemente hay <a href="https://www.meneame.net/m/Art%C3%ADculos/search?q=strike"
        >artículos</a> y <a href="https://www.meneame.net/search?q=strike&w=comments&h=&o=&u="
        >comentarios</a>
         quejándose de los strikes
        o quejándose de la gente que se queja de los strikes.
      </li>
    </ol>
    <p>Sabiendo todo esto, podemos continuar teniendo en cuenta
      que todos los datos aquí presentados parten de recolectar
      única y exclusivamente los strikes detectados
      en comentarios inspeccionando código HTML, es decir,
      si hay (que parece que no, pero no lo sé a ciencia cierta)
      algún tipo de strike que no se asocia a comentarios
      de la manera que hemos visto quedará fuera del estudio.
    </p>
    <h1>1. ¿Cuántos strikes hay?</h1>
    <p>
      Se han capturado <code>{{st.strikes.total | millar}} strikes</code>
      desde el <code>{{st.strikes.ini.strftime("%d/%m/%Y")}}</code> hasta el
      <code>{{st.le_cut_date.strftime("%d/%m/%Y")}}</code>
      repartidos de la siguiente manera:
    </p>
    <table>
      <thead style="text-align: center;">
        <tr>
          <th colspan="2">Strike</th>
          <th rowspan="2">Usuarios<sup>1</sup></th>
          <th colspan="2">Visto</th>
        </td>
        <tr>
          <th>#</th>
          <th>Razón</th>
          <th>desde<sup>2</sup></th>
          <th>hasta<sup>3</sup></th>
        </tr>
      </thead>
      <tbody>
   {% for r, c in st.strikes.reason %}
        <tr>
          <td class="rg"><code>{{c.total | millar}}</code></td>
          <td>{{r}}</td>
          <td class="rg"><code>{{c.usuarios | millar}}</code></td>
          <td><code>{{c.ini.strftime("%d/%m/%Y")}}</code></td>
          <td><code>{{c.fin.strftime("%d/%m/%Y")}}</code></td>
        </tr>
   {% endfor%}
     </tbody>
    </table>
    <ol>
      <li>Usuarios únicos, es decir: ¿Cuántos usuarios <b>distintos</b> tienen uno o más strikes de este tipo?</li>
      <li>Primera fecha en la que se vio un strike de este tipo</li>
      <li>Última fecha en la que se vio un strike de este tipo</li>
    </ol>
    <p>
      En números absolutos, ha habido aproximadamente
      un strike cada <code>{{st.strikes.ratio}}</code> horas
      y se han visto afectados un total de
      <code>{{st.strikes.usuarios | millar}}</code> usuarios.
    </p>
    <p>
      En otras palabras, entre <code>{{st.strikes.ini.strftime("%d/%m/%Y")}}</code> y
      <code>{{st.le_cut_date.strftime("%d/%m/%Y")}}</code>
      el {{prc(st.strikes.actividad.comments, st.strikes.total)}} de los comentarios
      recibieron un strike y el
      {{prc(st.strikes.actividad.users, st.strikes.usuarios)}} de los usuarios
      que hicieron esos comentarios recibieron un strike o más.
    </p>
    <p>
      <b>¿Qué vemos aquí?</b>
    </p>
    <p>
      Lo primero que llama la atención es que esta lista de strikes
      no coincide con las <a href="https://github.com/Meneame/meneame.net/blob/60fc5935e46fb72c47945abc63cd062803d030a8/www/templates/report_new.html#L10"
      >opciones que ve el usuario cuando reporta un comentario</a>.
      Consultando la clase <a href="https://github.com/Meneame/meneame.net/blob/master/www/libs/strike.php#L11"
      >strike en el código fuente</a> comprobamos que nuestra lista es correcta
      (solo falta <code>Bulo</code> y seguramente sea porque el repositorio no está actualizado),
      y si consultamos el <a href="https://github.com/Meneame/meneame.net/commits/master/www/templates/report_new.html"
      >histórico del formulario</a> verificamos que algunas opciones no estaban disponibles en el momento que se usaron.<br/>
      Solo se me ocurren dos explicaciones:
    </p>
    <ol>
    	<li>Los admin pueden dar strikes usando una lista más amplia que el resto de los usuarios</li>
    	<li>No hay una correspondencia 1 a 1 entre <code>reporte</code> y strike
    	si no que existe un un paso intermedio entre que se da por bueno un <code>reporte</code>
    	y se asigna el strike definitivo, pudiendo éste ser cambiado por otro que el admin
    	juzgue más descriptivo, por ejemplo rebajando un reporte por <code>incitación al odio</code> a
    	<code>contenido inapropiado</code></li>
    </ol>
    <p>La primera opción entra en conflicto con lo dicho más arriba sobre que solo se
    revisan comentarios reportados por los usuarios así que voy a suponer que la correcta
    es la segunda opción.</p>
    <p>
    	Sea como sea, esto dificulta interpretar los datos como un subconjunto
    	fiel de lo que reportan los usuarios ya que, por ejemplo, ¿qué reportaron los usuarios
    	que alertaron sobre los comentarios que finalmente quedaron marcados con un
    	strike <code>contenido inapropiado</code>? No se puede saber.
    </p>
    <p>Aún así vemos una división tan clara entre las tres primeras causas de strike
    y el resto que podríamos pensar que las normas con menos strikes son:</p>
      <ul>
        <li>normas que apenas se incumplen</li>
        <li>normas que se incumplen pero a los usuarios no les importa demasiado</li>
        <li>normas que se incumplen pero los usuarios piensan que no son
          merecedoras de un strike y lo dejan en un voto negativo
          a lo sumo</li>
      </ul>
    <p>La única excepción podría ser el <code>strike Bulo</code>, ya que viendo
      su primera fecha de uso parece que es de muy reciente creación
      y aún así ya esta en la 4ª posición.</p>
    <h1>2. ¿Cuál ha sido la evolución temporal de los strikes?</h1>
    <div class="data" data-modelo="timeline">
      <p>Mostrar cantidad de strikes en <select name="transformacion">
        <option value="" selected="selected">números absolutos</option>
        <option value="porcentaje">% del total</option>
        <option value="comentarios">promedio por comentario</option>
        <option value="usuarios">promedio por usuario</option>
      </select>
      </p>
      <canvas class="chart"></canvas>
      <p>
        <label>Unidad temporal:</label>
        <select name="agrupar">
          <option value="">mes</option>
          <option value="trimestre" selected="selected">trimestre</option>
          <!--option value="cuatrimestre">cuatrimestre</option-->
          <option value="semestre">semestre</option>
          <option value="year">año</option>
        </select>
      </p>
    </div>
    <p>
      <b>¿Qué vemos aquí?</b>
    </p>
    <p>
      La gráfica tiene muchos altibajos como para sacar interpretaciones claras,
      pero si nos fijamos unicamente en el total de strikes y utilizamos un rango
      temporal suficientemente amplio (semestral o anual) podemos ver que la
      cantidad de strikes fue en aumento hasta 2019 y luego, en 2020, disminuyó
      a niveles de 2018.
    </p>
    <h1>3. ¿Hay usuarios con muchos strikes?</h1>
    <p>Los <code>{{st.strikes.usuarios | millar}}</code> usuarios con strikes
      se dividen en:
    </p>
    <div class="data" data-modelo="countstrikes">
      <canvas class="chart"></canvas>
    </div>
    <p>
      (*) Haz click en la legenda verde (<em>Usuarios con 10 strikes o menos</em>)
      para ver con mayor detalle las barras azules y rojas.
    </p>
    <p><b>¿Qué vemos aquí?</b></p>
    <ol>
      <li>La mayoría de los usuarios que recibe un strike ({{prc(st.strikes.usuarios, st.sum_striked(-1))}}) no vuelve a tener problemas</li>
      <li>Aún así, el {{prc(st.strikes.usuarios, st.sum_striked(6))}} de los usuarios con strikes han recibido 6 o más</li>
      <li>Mientras que solo el {{prc(st.strikes.usuarios, st.sum_striked(20))}} tiene 20 strikes o más</li>
    </ol>
    <p>
      (*) Recuerda que tener 6 strikes no significa necesariamente
      haber llegado a la penalización máxima (ban de 90 días)
      e igualmente tener menos de 6 strikes tampoco significa
      que no se haya aplicado la penalización máxima.
      Ver <a href="https://www.meneame.net/legal#penalizaciones"
      >la información legal de Menéame</a> para más detalles.
    </p>
    <h1>4. ¿Provocan los strikes el abandono de los usuarios penalizados?</h1>
    <p>
      Es imposible responder con total seguridad a esta pregunta porque incluso habiendo abandono
      este puede ser por otra causa, pero si esto fuera cierto (que se abandonó la plataforma por el strike)
      deberíamos ver en cada usuario una correlación
      entre la fecha de su último strike y el momento en que dejó Menéame.
    </p>
    <div class="data" data-modelo="abandono">
      <p>
        Generar gráfica con usuarios que estuvieran en Menéame
         <select name="presencia">
          <option value="">más de 0 días (todos)</option>
          <option value="1">más de 1 día</option>
          <option value="15">más de 15 días</option>
          <option value="30">más de 1 mes</option>
          <option value="180" selected="selected">más de 6 meses</option>
          <option value="365">más de 1 año</option>
        </select><sup>1</sup>
        y tomando como referencia la <select name="abandono">
          <option value="abandono">fecha de abandono o eliminación</option>
          <option value="eliminacion">fecha de eliminación</option>
        </select><sup>2</sup>
      </p>
      <canvas class="chart"></canvas>
    <ol>
    	<li>
    	Un usuario que en poco tiempo se crea una cuenta, recibe un strike y abandona la cuenta
    	parece más el perfil de un bot, troll o spammer. Sin embargo, nuestro objetivo es detectar
    	usuarios auténticos que tras recibir un strike se marchan desilusionados.
      Usa este selector para definir la permanencia mínima
    	que consideres necesaria.
    	</li>
    	<li>
        Cómo se calcula la fecha de abandono y eliminación se explicó en el
    	<a href="/meneame_en_datos/">punto 2.B del anterior informe</a>,
      revisa la definición y elige el tipo de fecha que creas más relevante.
    	</li>
    	<li>
        Haz click en la legenda verde (<em>Usuarios que permanecen</em>)
          para ver con mayor detalle las barras rojas.
    	</li>
    </ol>
    <p><b>¿Qué vemos aquí?</b></p>
    <ul>
      <li>La mayoria de los usuarios ni abandona ni elimina su cuenta.</li>
      <li>A partir del 2º, 3º o 4º mes (según que opciones
      hayamos seleccionado) la gráfica se vuelve poco relevante no pudiendo
      achacar a los strikes esos abandonos.</li>
      <li>Una pequeña pero significativa porción de los usuarios abandona
      el mismo día del strike o ese mismo mes
      (entre un 11% y un 35% según que opciones hayamos seleccionado)
      lo que hace pensar, tanto por el breve tiempo transcurrido como por
      la diferencia de concentración de casos con respecto a otros meses, que estos usuarios
      probablemente abandonaron a consecuencia del strike.</li>
    </ul>
    </div>
    <h1>5. ¿De qué época son los usuarios con strikes?</h1>
    <p>
    En esta gráfica podemos ver superpuestas la composición de
    los usuarios con strikes (rojo) y la composición de usuarios que mandaron comentarios
    (azul) entre <code>{{st.strikes.ini.strftime("%d/%m/%Y")}}</code> y
    <code>{{st.le_cut_date.strftime("%d/%m/%Y")}}</code>.
    </p>
    <div class="data" data-modelo="poblacion">
      <canvas class="chart"></canvas>
    </div>
    <p><b>¿Qué vemos aquí?</b></p>
    <p>
      En circunstancias normales es de esperar que el porcentaje de strikes
      de cada generación sea similar a su porcentaje de comentarios.
      Y efectivamente vemos que esto se cumple hasta 2016, pero no después.</p>
    <p>
      Una explicación para la concentración inusual de strikes en las generaciones
      2017-2019 sería que parte de esas personas con strike realmente sean
      usuarios de otras generaciones que se crearon una nueva cuenta.
    </p>
    <p>Es decir, teniendo en cuenta que el sistema de strikes se implementó en 2017
      y suponiendo que haya un tipo de usuario <em>propenso a
    tener strikes</em>, si este decidiera abandonar Menéame pero luego quisiera volver,
    o si simplemente quisiera crear una nueva cuenta para proteger el karma de la antigua,
    su nuevo usuario sería de la generación 2017 o posterior y tendría
    nuevos strikes con él.</p>
    <p>
      Si damos por buena esta explicación, debemos inferir que las personas
      afectadas por un strike no son <code>{{st.strikes.usuarios | millar}}</code>
      si no menos ya que una parte de ellas habría usado varias cuentas.
    </p>
    <p>
      En cuanto al brusco cambio en el año 2020 solo se me ocurre que esté
      relacionado con el ligero descenso en el número de strikes que vimos
      en la gráfica 2 combinado con la fuerte subida de usuarios registrados
      para ese año que vimos en
      <a href="/meneame_en_datos/">la gráfica 2.B del anterior informe sobre Menéame</a>.
    </p>
    <h1>6. ¿Alguna conclusión?</h1>
    <p>No.</p>
  </body>
</html>
