<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pregúntame en meneame.net</title>
    {% for c in css %}
      <link href="{{c}}" rel="stylesheet" type="text/css" data-autoinsert="1"/>
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% for js in javascript %}
      <script src="{{js}}" data-autoinsert="1"></script>
    {% endfor %}
  </head>
  <body>
    <p>
      Este listado de <a href="https://www.meneame.net/m/Preg%C3%BAntame">encuentros digitales en Menéame</a>
      evalua, de manera orientativa, la participación en cada entrevista en base a:
    </p>
    <ul>
      <li><b>Respuestas</b>: Cada comentario de la persona entrevistada cuenta como 1 respuesta</li>
      <li><b>Preguntas</b>: Cada comentario de los los demás usuarios cuenta como 1 pregunta, excepto aquellos que se realizaron después de la última respuesta</li>
      <li><b>Contestadas</b>: Porcentaje de preguntas contestadas (pon el ratón encima para ver el numero exacto de respuestas)</li>
      <li><b>Palabras</b>: Suma total de palabras usadas en las respuestas</li>
      <li><b>Karma</b>: Suma total del Karma de las respuestas</li>
      <li><b>Tiempo</b>: Tiempo transcurrido entre la primera y la última respuesta</li>
    </ul>
    <p>
      Puedes reordenar la tabla pulsando en las cabeceras.
    </p>
    <table>
      <thead>
        <tr>
          <th></th>
          <th class="str isSortable">Persona</th>
          <th class="isSortable" title="Preguntas"><span>Pr.</span></th>
          <th class="isSortable" title="Contestaciones"><span>Co.</span></th>
          <th class="isSortable" title="Palabras">Pa.</th>
          <th class="isSortable" title="Karma">Ka.</th>
          <th class="isSortable">Tiempo</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr class="r{{d.id}}">
          <td class="img">{%if d.thumb %}<img alt="" src="{{d.thumb}}"/>{%endif%}</td>
          <td>
            <a href="{{d.url}}">{{d.title}}</a> <small><code>{{d.replies.first | str_epoch}}</code></small>
            {%if d.subtt%}
            <br/>{{d.subtt}}
            {%endif%}
          </td>
          <td class="num" data-sortkey="{{d.questions}}"><code>{{d.questions | millar}}</code></td>
          <td class="num">{{prc(d.questions, d.replies.count)}}</td>
          <td class="num" data-sortkey="{{d.replies.words}}">{{d.replies.words | millar}}</td>
          <td class="num" data-sortkey="{{d.replies.karma}}">{{d.replies.karma | millar}}</td>
          <td class="num" data-sortkey="{{(d.replies.last - d.replies.first)}}">{{(d.replies.last - d.replies.first) | str_time}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
