<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Informe de datos de meneame.net</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="https://yaireo.github.io/tagify/dist/tagify.css">
    {% for c in css %}
      <link href="{{c}}" rel="stylesheet" type="text/css" data-autoinsert="1"/>
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://yaireo.github.io/tagify/dist/tagify.js"></script>
    {% for js in javascript %}
      <script src="{{js}}" data-autoinsert="1"></script>
    {% endfor %}
  </head>
  <body>
    <p>
      Este informe abarca la <a href="https://www.meneame.net/">portada</a> y
      <a href="https://www.meneame.net/queue">cola</a> de la edición general
      de <code>meneame.net</code> desde
      <a href="https://www.meneame.net/story/{{st.min_portada}}"><code>{{st.min_date.strftime("%d/%m/%Y")}}</code></a>
      a
      <a href="https://www.meneame.net/story/{{st.max_portada}}"><code>{{st.max_date.strftime("%d/%m/%Y %H:%M")}}</code></a>,
      lo que representa
      <code>{{st.counts.links.total | millar }}</code> noticias y
      <code>{{st.counts.comments.total | millar }}</code> comentarios repartidos en:
    </p>
    <table>
      <thead>
        <tr>
          <th>Estado</th>
          <th>Noticias</th>
          <th>Comentarios</th>
        </tr>
      </thead>
      <tbody>
   {% for s, c in st.counts.links.status %}
        <tr>
          <td>{{s}}</td>
          <td class="rg"><code>{{c | millar}}</code></td>
          <td class="rg"><code>{{st.counts.comments.status[s] | millar}}</code></td>
        </tr>
   {% endfor%}
     </tbody>
    </table>
  </body>
  <p>Para ver en más detalle que enlaces se han descartado para evitar ruido puedes consultar
    <a href="https://github.com/s-nt-s/meneame.dump/blob/master/sql/views/general.sql">la sentencia sql</a> que ha servido de fuente.
  <h1>Méneame a traves del tiempo</h1>
  <h2>¿A qué hora se envian las noticias?</h2>
  <div class="data" data-modelo="horas_dia" data-porcentaje="0">
    <p>Calcular 'un día normal' usando datos de <select id="yearsDiaNormal">
      <option>todos los años</option>
      {% for y in years_completos %}
        <option value="{{y}}">{{y}}</option>
      {% endfor %}
    </select> y mostrando <code>envios</code> y <code>published</code> como <select name="porcentaje">
      <option value="0">promedio de noticias enviadas a la hora</option>
      <option value="1">% de noticias enviadas con respecto al día completo</option>
    </select>
    <canvas></canvas>
    (*) La linea <code>published</code> señala a que hora fueron enviadas las noticias que, más tarde, terminaron
    siendo publicadas en portada, no a que hora llegaron a la portada.
  </div>
  <h2>¿Cuántas noticias hay por estado?</h2>
  <div class="data" data-modelo="count_estados">
    <p>Mostrar cantidad de noticias en <select name="porcentaje">
      <option value="1">% del total</option>
      <option value="0">números absolutos</option>
    </select>
    </p>
    <canvas></canvas>
    <p>
      <label>Unidad temporal:</label>
      <select name="agrupar">
        <option value="">mes</option>
        <option value="trimestre" selected="selected">trimestre</option>
        <!--option value="cuatrimestre">cuatrimestre</option-->
        <option value="semestre">semestre</option>
        <option value="year">anual</option>
      </select>
    </p>
  </div>
  <h2>¿Cuántas noticias hay por categoría/sub?</h2>
  <div class="data">
    <p>Mostrar cantidad de noticias en <select name="porcentaje">
      <option value="1">% del total</option>
      <option value="0">números absolutos</option>
    </select>
    usando <select name="modelo">
      <option value="count_categorias_todas">todas las noticias</option>
      <option value="count_categorias_published">solo las noticias que llegaron a portada</option>
    </select>
    </p>
    <canvas></canvas>
    <p>
      <label>Unidad temporal:</label>
      <select name="agrupar">
        <option value="">mes</option>
        <option value="trimestre" selected="selected">trimestre</option>
        <!--option value="cuatrimestre">cuatrimestre</option-->
        <option value="semestre">semestre</option>
        <option value="year">anual</option>
      </select>
    </p>
    <p>
      (*) Antes de 2014 más del 98% de las noticias estan en la categoría <code>mnm</code>
    <p>
  </div>
  <h2>¿De dónde son las noticias?</h2>
  <div class="data">
    <p>Mostrar datos en <select name="porcentaje">
      <option value="1">% del total</option>
      <option value="0">números absolutos</option>
    </select> de <select name="modelo">
      <option value="dominios_portada">solo la portada (published)</option>
      <option value="dominios_todos">todos los envios</option>
    </select> para los siguientes dominios:
  </p>
  <p>
    <input class="tag_filter" type="text"
    value="AEDE, *.20minutos.es, *.eldiario.es, *.publico.es, *.bbc.com"
    data-source="dominios"/>
    </p>
    <canvas></canvas>
    <p>(*) <code>AEDE</code> agrupa todos los medios pertenecientes a la
       <a href="https://es.wikipedia.org/wiki/Asociaci%C3%B3n_de_Editores_de_Diarios_Espa%C3%B1oles">Asociación de Editores de Diarios Españoles</a> y el
       <a href="https://es.wikipedia.org/wiki/Centro_Espa%C3%B1ol_de_Derechos_Reprogr%C3%A1ficos">Centro Español de Derechos Reprográficos</a>
       según <a href="https://15hack.tomalaplaza.net/files/aede.txt">este listado</a>
      de enero de 2015.
    <p>
  </div>
  <h2>¿Hay buen rollo en Menéame?</h2>
  <div class="data">
    <p>Mostrar datos de <select name="modelo">
      <option value="karma_portada">solo la portada (published)</option>
      <option value="karma_general">todos los envios</option>
    </select>
    </p>
    <canvas></canvas>
    <p>
      <label>Unidad temporal:</label>
      <select name="agrupar">
        <option value="">mes</option>
        <option value="trimestre" selected="selected">trimestre</option>
        <!--option value="cuatrimestre">cuatrimestre</option-->
        <option value="semestre">semestre</option>
        <option value="year">anual</option>
      </select>
    </p>
    <p>(*) Se han descartado las noticias con un solo voto (pues es el del autor) o <code>autodiscard</code>
      sin votos negativos (pues probablemente se trate de un envio erroreno).
      Tampoco se contabilizan los votos anonimos, es decir, solo se tienen en cuenta los votos
      de usuarios registrados. Tras esto se resta un voto positivo a todas las noticias para
      no tener en cuenta el voto del propio autor.
    </p>
  </div>
</html>
