<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Informe de datos de meneame.net</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    {% for c in css %}
      <link href="{{c}}" rel="stylesheet" type="text/css" data-autoinsert="1"/>
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    {% for js in javascript %}
      <script src="{{js}}" data-autoinsert="1"></script>
    {% endfor %}
  </head>
  <body>
    <p>
      Este informe abarca la <a href="https://www.meneame.net/">portada</a> y
      <a href="https://www.meneame.net/queue">cola</a> de la edición general
      de <code>meneame.net</code> desde
      <a href="https://www.meneame.net/story/{{st.min_portada}}"><code>{{st.min_date.strftime("%d/%m/%Y")}}</code></a>
      a
      <a href="https://www.meneame.net/story/{{st.max_portada}}"><code>{{st.max_date.strftime("%d/%m/%Y %H:%M")}}</code></a>,
      lo que representa
      <code>{{st.counts.comments.total | millar }}</code> comentarios y
      <code>{{st.counts.links.total | millar }}</code> noticias repartidas en:
    </p>
    <table>
      <thead>
        <tr>
          <th>Estado</th>
          <th>Noticias</th>
          <th>Comentarios</th>
        </tr>
      </thead>
      <tbody>
   {% for s, c in st.counts.links.status %}
        <tr>
          <td>{{s}}</td>
          <td class="rg"><code>{{c | millar}}</code></td>
          <td class="rg"><code>{{st.counts.comments.status[s] | millar}}</code></td>
        </tr>
   {% endfor%}
     </tbody>
    </table>
  </body>
  <p>Para ver en más detalle que enlaces se han descartado para evitar ruido puedes consultar
    <a href="https://github.com/s-nt-s/meneame.dump/blob/master/sql/views/general.sql">la sentencia sql</a> que ha servido de fuente.
  <h1>Méneame a traves del tiempo</h1>
  <p>Mostrar datos de <select id="tipoMensual">
    <option value="general">todo (menos autodiscard y abuse)</option>
    <option value="portada">la portada (published)</option>
    <option value="actualidad">la portada en la categoría actualidad</option>
  </select>
  </p>
  <canvas id="data_mensual"></canvas>
  <p>(*) Para las métricas de votos no se tienen en cuenta los anónimos</p>
</html>
