body {
  font-family: DejaVu Sans, Arial, Sans Serif;
}

table {
	margin-top: 14px;
	border-spacing: 0px;
	border-collapse: collapse;
}
thead {
	background-color: lightblue;
}
td, th {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
table tbody tr:nth-child(even) {
	background-color: #ddd;
}
td > p, th > p {
	margin-top:7px;
	margin-bottom:7px;
}
td > p:first-child, th > p:first-child  {
	margin-top:0;
}
td > p:last-child, td > p:last-child {
	margin-bottom:0;
}
tr > td:first-child {
	white-space: nowrap;
}
td.rg {
  text-align: right;
}

body {
	margin-bottom: 400px;
}
canvas.chart {
	margin-top: 16px;
	margin-bottom: 16px;
	max-width: 800px;
}
div.graph {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: gainsboro;
  padding: 5px;
  position: relative;
  display: inline-block;
}
div.graph div.rootpanel {
  height: 500px;
  width: 800px;
}
div.graph div.panel {
  width: 100%;
  height: 100%;
  background-color: white;
}
div.graph p.caption {
	text-align: center;
}
code {
	font-size: 1.3em;
}
code.poptag {
	display: inline-block;
	width: 2em;
	text-align: right;
}
